<center><h1  style="color:white; background-color:#000000; border-radius: 0px; padding:25px;"> MGS-GRF </h1></center>

This notebook produces the results on open source data sets.

<ins>Experimented Datasets: </ins>
- Bankmarketing
- BankChurners

All the sections of this notebook are independent. The user should run the following two introduction code chunk. Then one can choose a given data set section and run exclusively the chunks code of the selected section.

In [2]:
import os
import sys
sys.path.insert(1, os.path.abspath(os.path.join(os.getcwd(), os.pardir)))
from pathlib import Path
from collections import Counter


import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import precision_score, recall_score, roc_auc_score,balanced_accuracy_score,average_precision_score

from validation.classif_experiments import (compute_metrics_several_protocols,
                                            prec_at_recall_version3, prec_at_recall_version3_02)

## Utils :

In [4]:
list_metric = [
    #(precision_score,'precision','pred'),
    #(recall_score,'recall','pred'),
    #(balanced_accuracy_score,'balanced acc','pred'),
    (prec_at_recall_version3_02,'p@r=0.2','proba'),
    (prec_at_recall_version3,'p@r=0.5','proba'),
    (average_precision_score,'avg_pr_auc', 'proba'),
    (roc_auc_score,'roc_auc','proba') 
]

<center><h1  style="color:white; background-color:#808b96; border-radius: 10px; padding:15px;"> Results </h1></center>

## Bankmarketing :

In [30]:
output_dir_path =  "../saved_experiments_categorial_features/2024-06-19_BankMarketing/2025/lgbm/data-runtimev2/subsample_to_1" ## Fill it
df_final_mean_bankmark,df_final_std_bankmark = compute_metrics_several_protocols(
    output_dir=output_dir_path,
    init_name_file='2024-11-30-lgbm_',
    list_metric=list_metric,
    bool_roc_auc_only=False,n_iter=20)
df_final_mean_bankmark.style.format(precision=3).highlight_max(props='font-weight:bold;color:#090E19', axis = 1)

In [31]:
df_final_std_bankmark.style.format(precision=3).highlight_max(props='font-weight:bold;color:#090E19', axis = 1)

## BankChurners :

In [32]:
output_dir_path =  "../saved_experiments_categorial_features/2024-06-19_BankChurners/2025/lgbm/data-runtimev2/subsample_to_1" ## Fill it
df_final_mean,df_final_std = compute_metrics_several_protocols(
    output_dir=output_dir_path,
    init_name_file='2024-11-30-lgbm_',
    list_metric=list_metric,
    bool_roc_auc_only=False,n_iter=20)
df_final_mean.style.format(precision=3).highlight_max(props='font-weight:bold;color:#090E19', axis = 1)

In [33]:
df_final_std.style.format(precision=3).highlight_max(props='font-weight:bold;color:#090E19', axis = 1)

<center><h1  style="color:white; background-color:#808b96; border-radius: 10px; padding:15px;"> Runing time </h1></center>

In [5]:
def average_runing_time(output_dir_path,init_name_file,n_iter=50):
    df_final = pd.DataFrame()
    for i in range(n_iter):
        name_file = init_name_file + str(i) + ".csv"
        curr_df = pd.read_csv(os.path.join(output_dir_path, "runtime" + name_file))
        df_final = pd.concat([df_final,curr_df],axis=0)
    return df_final.reset_index(drop=True)

In [24]:
df = average_runing_time(output_dir_path="../saved_experiments_categorial_features/2024-06-19_BankMarketing/2025/lgbm1000/subsample_to_1",
                    init_name_file="2024-11-30-lgbm_",
                    n_iter=20)
df.mean(axis=0).to_frame().T.style.format(precision=3).highlight_max(props='font-weight:bold;color:#090E19', axis = 1)

In [25]:
df.std(axis=0).to_frame().T.style.format(precision=3).highlight_max(props='font-weight:bold;color:#090E19', axis = 1)

In [26]:
df = average_runing_time(output_dir_path="../saved_experiments_categorial_features/2024-06-19_BankChurners/2025/lgbm1000/subsample_to_1",
                    init_name_file="2024-11-30-lgbm_",
                    n_iter=20)
df.mean(axis=0).to_frame().T.style.format(precision=3).highlight_max(props='font-weight:bold;color:#090E19', axis = 1)

In [27]:
df.std(axis=0).to_frame().T.style.format(precision=3).highlight_max(props='font-weight:bold;color:#090E19', axis = 1)